footer {
background-color: #e5dede;
color: white;
padding: 20px;
text-align: center;
margin-top: 50px; /* Espaço acima do footer */
}

footer nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
}

footer nav ul li {
margin: 0 10px;
}

footer nav ul li a {
color: white;
text-decoration: none;
}

.social-links a {
color: white;
margin: 0 5px;
font-size: 20px; /* Ajuste o tamanho dos ícones */
}